/*General*/
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}
.container {
  padding-top: 3.5%;
  padding-bottom: 1%;
}

/*major color*/
.gradient {
  background: rgb(19, 57, 189);
  background: linear-gradient(
    312deg,
    rgba(19, 57, 189, 1) 20%,
    rgba(188, 148, 233, 1) 100%
  );
}
/*header*/
.page-header {
  margin-top: 2rem;
  font-size: 1.25rem;
  color: white;
}

.page-header h2 {
  color: red;
  font-style: italic;
}

/*Client Review */
.about-title {
  padding-bottom: 3rem;
}

/*Language description*/
.feature {
  color: #fff;
}
.feature ul {
  padding-left: 1rem;
  list-style-type: none;
  color: #fff;
}

.feature ul li {
  padding-left: 2rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  background-repeat: no-repeat;
  background-image: url(./Photos/check-circle.svg);
}

/*Feature part*/
.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*Portfolio Section */
.project-area {
  background: whitesmoke;
}

.project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 1rem;
  text-transform: uppercase;
}

.project-area .button-group button + button {
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px;
}

/* dont want the blue box for the button */
button:focus,
button:active,
button:hover,
.btn:active,
.btn:active {
  outline: 0px !important;
  box-shadow: none !important;
}

/*Footer*/

#social::after {
  display: block;
  height: 3px;
  background-color: black;
  content: " ";
  width: 100px;
  margin: 30px auto;
}

.footer li {
  display: inline;
  padding-right: 40px;
}

.footer {
  background: #fbceb1;
  padding: 40px;
}
.fab {
  color: black;
}

/*button*/
