html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
/*major color*/
.gradient {
  background: rgb(19, 57, 189);
  background: linear-gradient(
    312deg,
    rgba(19, 57, 189, 1) 20%,
    rgba(188, 148, 233, 1) 100%
  );
}
/*header*/
.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: white;
}

/*middle-feature description*/
.feature {
  color: #fff;
}

.feature ul {
  padding-left: 1rem;

  list-style-type: none;
  color: #fff;
}

.feature ul li {
  padding-left: 2rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  background-repeat: no-repeat;
  background-image: url(./Photos/check-circle.svg);
}

/*triple icon part*/
.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*Carousel */
.about-title {
  padding-bottom: 4rem;
}

/*Portfolio Section */
.project-area {
  background: whitesmoke;
}

.project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 1rem;
  text-transform: uppercase;
}

.project-area .button-group button + button {
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px;
}

/* dont want the blue box for the button */
button:focus,
button:active,
button:hover,
.btn:active,
.btn:active {
  outline: 0px !important;
  box-shadow: none !important;
}
